<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        
        <div class="form-control {% if form.your_name.errors %}errors{% endif %}">
            {{ form.your_name.label_tag }}
            {{ form.your_name }}
            {{ form.your_name.errors }}
        </div>

        <button type="submit">Send</button>
    </form>
</body>
</head>